/* The Main Stylesheet */

body {
  background-color: #0c1621;
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;

  width: 1220px;
}

h1 {
  font-size: 26px;
}

#headline {
  color: #374554;
  font-size: 25px;
}

#intro {
  margin-bottom: 400px;
}
#intro h1 {
  padding-top: 200px;
  text-align: center;
}
#intro h3 {
  text-align: center;
}

#content {
  margin-bottom: 200px;
}

/* Footer Style */
#footer {
  position:absolute;
  left:0;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #030b14;
}
#footer-content {
  margin-left: 20%;
  width: 60%;
}
#project-imprint {
  text-align: center; 
}





table {
  width: 100%;
}
td {
  vertical-align: top;
}

hr {
  color: #374554;
  background-color: #57616b;
  border: 0; 
  height: 2px;
}


.classification1-div {
  width: 650px;
  background-color: #bbb;
  display:inline-block;
  margin: 5px;
}

.classification1 {
  color: #FFF;
  font-size: 26px;
}
.classification2 {
  color: #FFF;
  font-size: 22px;
}
.classification3 {
  color: #FFF;
  font-size: 18px;
}


.classification-label {
  margin-bottom: 10px;
}
.classification-label-text {
  color: #FFF;
  display: inline;
  font-size: 14px;
}
.classification-label-count {
  color: #FFF;
  display: inline;
  padding: -1px;
  padding-left: 2px;
  padding-right: 5px;
  font-size: 12px;
  font-style: italic;

  position: relative;
  top: -11px;
}


/* SVG STUFF*/
svg {
  margin-top: 6px;
  position: relative;
  left: -2px;
}
.fell {
  fill: #b8e305;
}
.found {
  fill: #298299;
}


/* Detail tooltip */
#modalDialog-tooltip-space {
  z-index: 99999;
  position: absolute;
  /*width: 100px;
  height: 20px;*/
  background: #ddd;
  border-radius: 8px;
}


/* TOOLTIP STUFF */

a {
  outline: none;
  text-decoration: none;
  font-size: 14px;
}

.tooltip {
  outline: none;
  /*font-style: italic;*/
}
.tooltip strong {
  line-height: 30px;
}
.tooltip:hover {
  text-decoration: none;
} 
.tooltip span {
  z-index: 10;
  display: none;
  padding: 4px;
  margin-top: 20px;
  margin-left: 0px;
  width: 240px;
  line-height: 16px;
}
.tooltip:hover span{
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #D4D4D4;
}
.callout {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px;
}



/* MODAL STUFF */

#modal-classification {
  font-size: 22px;
}
#modal-classification-desc-container {
  width: 200px;
  position: absolute;
  left: 930px;
}
#modal-classification-desc-container > h5 {
  margin-top: 0px;
}

#modal-classification-desc {
  font-size: 14px;
}
#modal-svg {
  width: 930px;
  margin-left: -20px;
  padding-bottom: 30px;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99990;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }

  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }

  .modalDialog > div {
    width: 90%;
    height: 85%;
    position: relative;
    margin: 5% auto;
    overflow: scroll;
    overflow-x: hidden;
  }

  .close {
    background: #000;
    color: #FFF;
    line-height: 25px;
    position: absolute;
    right: 16px;
    top: -2px;
    width: 24px;
    text-decoration: none;
    font-size: 14px;
  }

/*  .close:hover {
    background: #00d9ff;
  }*/



/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
