.x-axis path, .y-axis path {
	fill: none;
	stroke: #383838;
	shape-rendering: crispEdges;
	stroke-width: 1px;
}

.x-axis, .y-axis {
	font-size: 10px;
}

.line {
	stroke-width: 2px;
	fill: none;
	stroke: #383838;
}

#gesamtsumme-graph {
	width: 490px;
}

.gray_light {
	fill: #9e9a99;
}