@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

root { 
    display: block;
}

.axis path{
	fill: none;
	stroke: none;
}

.axis line {
	fill: none;
	stroke: lightgrey;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: 400;
	fill: #808080;
}

.canvas {
	padding: 50px;
}

.grid path {
	fill: none;
	stroke: none;
}

.grid line {
	fill: none;
	stroke: lightgrey;
	shape-rendering: crispEdges;
}

.grid text {
	display: none;
}

