//
// Footer
//
#footer {
  position:absolute;
  left:0;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #030b14;
}
#footer-content {
  margin-left: 25%;
  width: 50%;
}
#project-imprint {
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center; 
}
