//
// Tooltip Stuff
//
@import "variables.less";



a {
  outline: none;
  text-decoration: none;
  font-size: 14px;
  color: @colorFound;
}

.tooltip {
  outline: none;
  //font-style: italic;
}
.tooltip strong {
  line-height: 30px;
}
.tooltip:hover {
  text-decoration: none;
} 
.tooltip span {
  z-index: 99999;
  display: none;
  padding: 4px;
  margin-top: 20px;
  margin-left: 0px;
  width: 240px;
  line-height: 16px;
}
.tooltip:hover span{
  display: inline;
  position: absolute;
  color: #FFF;
  //border: 1px solid #DCA;
  background: rgba(0, 0, 0, 0.9);
}
.callout {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px;
}
